@*@{
        ViewData["Title"] = "Home Page";
    }*@

<div class="text-center" style="margin-top: 25px;">
    <div class="row card-container">

        <div class="responsivo-sobre-mim">

            @*<img class="img-perfil img-profile " src="~/lib/materialize/imagens/perfil.jpg" />*@
            <img class="img-perfil img-profile" src="~/lib/materialize/imagens/perfil.jpg" />

            <div class="sobre-mim">
                <h2 style="text-align: justify;">Sobre mim...</h2>
                <br />
                Olá meu nome é Sweny Cassinoni Siqueira, tenho 25 anos e trabalho na área de Tecnologia há 2 anos.
                Amo tecnologia e tudo que ela nos proporciona, no primeiro contato que tive com a programação na faculdade
                despertou a curiosidade de entender como tudo funcionava. Até então parecia um bicho de sete cabeças ver aqueles códigos
                complexos se transformarem em uma tela ou uma funcionalidade dela com vários efeitos estilos e cores, depois de muitos estudos,
                tudo que parecia difícil se tornou fácil, comecei a se encantar pela área e procurar linguagens nas quais eu me identificasse e
                tecnologias para me aprimorar e especializar. Hoje sou graduada em Análise e Desenvolvimento de Sistemas, tenho conhecimentos em:

                <b style="color:black;">
                    ASP.NET MVC, ASP.NET CORE, WINDOWS FORMS, DOCKER, GIT, SQL SERVER, ENTITY FRAMEWORK, API REST, DDD, SOLID, METODOLOGIA SCRUM, KANBAN
                    HTML5, CSS3, MATERIALIZE, BOOTSTRAP.
                </b>
            </div>

        </div>
    </div>

</div>

