@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 texto">Bem vindo</h2>

</div>
<div class="text-center home">
    <p class="texto-bem-vindo">
        Este site foi criado com o objetivo de pôr em prática meus conhecimentos na linguagem ASP.NET Core que é uma estrutura
        mais atual da plataforma .Net, Materialize e CSS para estilizar e para melhorar a maneira que construo um site responsivo com
        as melhores práticas e diante disso, encontrei a oportunidade de contar um pouco das minhas
        experiências como profissional.

        <br />
        O .NET é a linguagem que mais gosto, por possuir bastante recursos e ferramentas que podemos aplicar nos negócios,
        é rico em bibliotecas onde podemos trabalhar tanto a questão do Front-End como Back-End. Em breve pretendo estudar novas linguagens como Angular para ter uma nova
        visão de outras soluções para aplicar em Desenvolvimento Web;
    </p>

    <p>
        <img src="~/lib/materialize/imagens/asp.net.png" style="width:100px; height:100px;" />
        <img src="~/lib/materialize/imagens/materialize.svg" style="width:100px; height:100px;" />
        <img src="~/lib/materialize/imagens/css-3.svg" style="width:100px; height:100px;" />
    </p>

</div>
